* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 600; 
    font-size: 1.25rem;
    margin-left: .5rem;
}

.app {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-left: 0;
    margin-right: auto;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    height: 7vh;
    background-color: rgba(39, 23, 177, 0.486);
    color: white;
    align-items: center;
}

.bell-icon {
    border-right: solid rgba(211, 211, 211, 0.363) 1px;
    padding: .5rem;
}

.avis {
    border-radius: 50%;
    height: 65%;
    margin-left: .5rem;
    margin-right: .5rem;
}

h4 {
    font-size: .8rem;
    font-weight: lighter;
    z-index: 2;
    margin-right: 1rem;
}

.navbarContainer {
    height: 6vh;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    background-color: rgba(12, 0, 122, 0.623);
    align-items: center;
}

 /* .nav-icons {
     padding-left: .8rem;
    padding-right: .8rem; 
}  */

.home-icon {
    margin-left: 12%;
}

.settings-icon {
    margin-right: 12%;
}

.dashFlexContainer {
    display: flex;
}

h2 {
    padding: .75rem;
    font-size: 1rem;
}

#dashboard {
    border-left: solid lightgray 2px;
    border-bottom: solid lightgray 2px;
    flex-grow: 1;
}

h3 {
    font-size: 1rem;
    padding: .75rem;
    text-transform: uppercase;
}

.trafficNavigation {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

ul li {
    padding: .5rem;
    list-style: none;
    /* font-weight: bolder; */
}



/* SOCIAL STATS WIDGETS */
.socialStats {
    border-top: solid lightgray 2px;
}

.svg-logo {
    height: 30px;
    fill: white;
}

.social-widgets {
    border: solid lightgray 2px;
    background-color: whitesmoke;
    border-radius: 7.5px;
    margin: 0 .75rem .75rem .75rem;
    display: grid;
    padding: .5rem;
    grid-template-areas: 
        "a b b"
        "a c c ";
}

.a {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.b {
    grid-area: b;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    /* color: rgba(58, 7, 116, 0.445) */
    color: rgba(12, 0, 122, 0.623);
}

.c {
    grid-area: c;

    color: gray;
    font-size: 2.25rem;
}

.logo-outline {
    /* background-color: rgba(58, 7, 116, 0.445); */
    background-color: rgba(12, 0, 122, 0.623);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newMembers, .recentActivity, .messageUser, .settings {
    border-top: solid lightgray 2px;
}

.new-member-pictures {
    border-radius: 50%;
    width: 20%;
}

.new-member-info {
    text-align: center;
    padding: 1rem;
    font-size: .85rem;
}

.greater {
    display: none;
}

.member123 {
    border-bottom: solid lightgray 2px;
    margin: 0 .75rem 0 .75rem;
}

.emails {
    color:rgba(12, 0, 122, 0.623)
}

.form-field {
    border: solid lightgray 2px;
    border-radius: 7.5px;
    background: whitesmoke;
    padding: .75rem;
    font-size: 1rem;
    width: 100%;
}

.message-user-search, .message-user-text, .send-message-button, .dropdown-list-container {
    padding: 0 .75rem .75rem .75rem;
}

.form-area {
    border: solid lightgray 2px;
    background-color: whitesmoke;
    border-radius: 7.5px;
    width: 100%;
    padding: .75rem;
    font-size: 1rem;
    height: 150px;
}

.send-button {
    border: solid lightgray 2px;
    border-radius: 7.5px;
    width: 100%;
    background-color:rgba(12, 0, 122, 0.623);
    color: white;
    padding: .85rem;
}

.dropdown-list {
    width: 100%;
    padding: .5rem;
    border: lightgray solid 2px;
    border-radius: 7.5px;
    background-color: whitesmoke;
    font-size: 1rem;
    color: gray;
}


.bottom-buttons-container {
    display: flex;
    justify-content: space-between;
    margin:  .5rem .75rem 2rem .75rem;
}

.save-button {
    border: solid lightgray 2px;
    border-radius: 7.5px;
    color: white;
    background-color: rgba(12, 0, 122, 0.623);
    padding: .5rem;
    font-size: .85rem;
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: .5rem;

}

.cancel-button {
    border: solid lightgray 2px;
    border-radius: 7.5px;
    color: white;
    background-color: gray;
    padding: .5rem;
    font-size: .85rem;
    text-transform: uppercase;
    flex-grow: 1;
    margin-left: .5rem;
}

.toggle-switch-container {
    display: flex;
    justify-content: space-between;
    margin: .75rem .75rem .75rem .75rem;
}

.dropdown-list-container {
    margin-top: 2rem;
}

#alert {
    display: flex;
    justify-content: space-between;
    background-color: rgba(12, 0, 122, 0.623);
    border-radius: 7.5px;
    color: whitesmoke;
    font-size: .85rem;;
    padding: .5rem;
    margin: .75rem; 
}

#x-button:hover {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.493);
    color: rgba(12, 0, 122, 0.623);
    padding: 0 .25rem 0 .25rem;
    border-radius: 3px;
}

#line-graph, #bar-graph, #donut-graph {
    margin: 0 .75rem 0 .75rem;
}

.traffic-breakdown {
    cursor: pointer;
}

#hourly-breakdown {
    background-color: lightgreen;
    border-radius: 20px;
    color: white;
}

.traffic, .dailyTraffic {
    border-bottom: solid lightgray 2px;
    padding-bottom: 1rem;
}

#donut-graph {
    padding-bottom: 1rem;
}

#notification {
    height: 5px;
    width: 5px;
    background-color: lightgreen;
    border-radius: 50%;
    position: relative;
    top: 1px;
    left: 17px;
}

.bell-animation:hover {
    animation-name: rotate;
    animation-duration: 1s;
  }
  
  @keyframes rotate {
    50% {
      transform: rotate(20deg);
      transition: transform .3s ease-in;
    }
   
  }






/* MEDIA QUERIES */

/* 768px */
@media screen and (min-width: 768px) {
    
    .main-grid-container {
        display: grid;
        grid-template-columns: 6vh auto;
        grid-template-areas: 
        "header header"
        "nav main"
        "nav main";
    }

    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
        max-width: 58px;
    }

    main {
        grid-area: main;
    }

    .navbarContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .home-icon {
        margin-left: 0;
    }
    .settings-icon {
        margin-right: 0;
    }
    .nav-icons {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #traffic-options-merge {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar-pie-merge {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dailyTraffic {
        border-bottom: none;
        border-right: solid lightgray 2px;
        display: flex;
        flex-direction: column; 
    }

    #bar-graph {
        margin-top: auto;
        margin-bottom: auto;
    }

    #myDonutChart, #myBarChart {
        max-height: 300px;
    }

    .socialStatsContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }

    .insta-widget {
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .fb-widget {
        margin-left: 0;
        margin-right: .25rem;
    }

    .twitter-widget {
        margin-right: 0;
        margin-left: .25rem;
    }

    .socialStatsContainer {
        margin-left: .75rem;
        margin-right: .75rem;
    }

    .new-member-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding-right: 0;
    }

    .member-date, .greater {
        margin-left: auto;
    }

    .new-member-pictures {
        width: 10%;
        margin-right: 1rem;
    }
    
    .dan-oliver {
        padding-right: .75rem;
        padding-left: 1.5rem;
    }

    .greater {
        display: block;
    }

    .toggle-switch {
        margin-right: 55%;
    }

    .trafficNavigation {
        margin-right: .75rem;
    }
    #line-graph {
        max-width: 95%;
        margin: auto;
    }
  }


/* 1024PX */
  @media screen and (min-width: 1024px) {

        .fullscreen-grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .toggle-switch {
            margin-right: 35%;
        }

        .bottom-buttons-container {
            margin-bottom: 1rem;
        }

        .save-button, .cancel-button {
            padding: .85rem;
  
        }

        .dropdown-list-container {
            padding-top: 1rem;
            padding-bottom: .5rem;
        }

        .newMembers, .messageUser {
            border-right: solid lightgray 2px;
        }

        #line-graph {
            max-width: 70%;
            margin: auto;
        }
  }